

body {
	 min-width:500px;
	 margin-bottom:50px;
	 width:60%;
	 text-align:center;
	 margin: 0 auto;
	 font-family:Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
}

header {
	height: 80px;
	padding-top: 10px;
}

header {
	margin: 0 auto 20px;
	width: 80%;
	}

.bottom {
	color:cornflowerblue;
	background-color: black;
	font-size: 30px;
	text-align: center;
	padding: 5px;
	border-radius: 5px;
}

.errors {
	color: #fff;
	background: red;
	margin-top: 5px;
	padding: 5px 0 10px 10px;
	border-radius: 10px;
}
